<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.FinalTerm.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.FinalTerm.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.FinalTerm.controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserQueryServlet</servlet-name>
        <servlet-class>com.FinalTerm.controller.UserQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>com.FinalTerm.controller.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongAddServlet</servlet-name>
        <servlet-class>com.FinalTerm.controller.SongAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongDeleteServlet</servlet-name>
        <servlet-class>com.FinalTerm.controller.SongDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongQueryAllServlet</servlet-name>
        <servlet-class>com.FinalTerm.controller.SongQueryAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongQueryServlet</servlet-name>
        <servlet-class>com.FinalTerm.controller.SongQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/user/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserQueryServlet</servlet-name>
        <url-pattern>/user/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/user/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongAddServlet</servlet-name>
        <url-pattern>/song/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongQueryAllServlet</servlet-name>
        <url-pattern>/song/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongDeleteServlet</servlet-name>
        <url-pattern>/song/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongQueryServlet</servlet-name>
        <url-pattern>/song/find</url-pattern>
    </servlet-mapping>
    <!--注册监听器-->
    <listener>
        <listener-class>com.FinalTerm.listener.OneListener</listener-class>
    </listener>
    <!--启动时默认进入的页面-->
    <!--当Tomcat不加载css、js、jsp等时：https://blog.csdn.net/dmyin/article/details/107759691 -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ttf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.mp3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.qmcflac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.flac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ogg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>

    <!--注册过滤器-->
    <filter>
        <filter-name>OneFilter</filter-name>
        <filter-class>com.FinalTerm.filter.OneFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OneFilter</filter-name>
        <url-pattern>/main/*</url-pattern>
        <url-pattern>/music/*</url-pattern>
        <url-pattern>/images/*</url-pattern>
    </filter-mapping>
    <!--网站默认进入页面 -->
    <welcome-file-list>
        <welcome-file>/main/login.html</welcome-file>
        <welcome-file>/main/register.html</welcome-file>
    </welcome-file-list>
</web-app>