*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.div-nav{
	background-color: #e2777a;
}
.nav{
	padding-left: 150px;
	width: 1150px;
	height: 50px;
	margin: 0 auto;
	background-color: #e2777a;
}
.nav>li{
	width: 150px;
	height: 50px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	position: relative;
	overflow: hidden;
}
.nav a{
	text-decoration: none;
	color: #0162bc;
	width: 150px;
	height: 50px;
}
.nav ul{
	width: 150px;
	height: 60px;
	/* line-height: 40px; */
	/* display: none; */
}
.nav #li-login{
	float: right;
}
.nav li ul li{
	height: 30px;
	line-height: 30px;
	background-color: #f68185;
}
.nav li ul li a{
	width: 150px;
	height: 30px;
}
